version: 2.1

executors:
  golang-stretch:
    docker:
      - image: golang:1.12-stretch
    environment:
      GO111MODULE: "on"
    shell: /bin/bash -eu -o pipefail
    working_directory: /go/src/go.mercari.io/mercari/go-emv-code

commands:
  gomod:
    description: Run `go mod download` and `go mod vendor`.
    steps:
    - restore_cache:
        name: Restore go modules cache
        keys:
          - gomod-v1-{{ checksum "go.sum" }}
    - run:
        name: Download go module dependencies
        command: |
          go mod download
    - save_cache:
        name: Save go modules cache
        key: gomod-v1-{{ checksum "go.sum" }}
        paths: /go/pkg/mod
    - run:
        name: Run go mod vendor
        command: |
          go mod vendor -v

jobs:
  test:
    executor: golang-stretch
    parallelism: 4
    steps:
    - checkout
    - gomod
    - run:
        name: Run test
        command: |
          make test

  coverage:
    executor: golang-stretch
    steps:
    - checkout
    - gomod
    - run:
        name: Run test and collect coverages
        command: |
          make coverage
    - run:
        name: Upload coverages to codecov
        command: |
          bash <(curl -s https://codecov.io/bash)

  reviewdog:
    executor: golang-stretch
    steps:
    - checkout
    - gomod
    - run:
        name: Run reviewdog
        command: |
          make reviewdog

workflows:
  version: 2
  build-workflow:
    jobs:
      - test
      - coverage
      - reviewdog:
          filters:
            branches:
              ignore:
                - master
